In [17]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

import os
import warnings
warnings.filterwarnings("ignore")
import requests
from bs4 import BeautifulSoup

## DATA ANALYST JOBS

In [18]:
url_DataAnalysis = "https://www.linkedin.com/jobs/search/?currentJobId=3593352924&keywords=data%20analyst"

In [19]:
locations = []
titles = []
countries = []    
links = []
company_name = []


for i in range(0,26,25):
    url = url_DataAnalysis+"&start="+str(i)
    request = requests.get(url)
    data = request.text
    soup = BeautifulSoup(data)
    location = soup.findAll("span", {"class":"job-search-card__location"})
    for i in location:
        locations.append(i.text.replace("\n"," ").strip(" "))   
    title = soup.findAll("h3",{"class":"base-search-card__title"})
    for i in title:
        titles.append(i.text.replace("\n"," ").strip(" ")) 
    country = soup.findAll("span", {"class":"job-search-card__location"})
    for i in country:
        countries.append(i.text.replace("\n"," ").strip(" ").split(',')[-1])
    job_links = soup.findAll("a",{"class":"base-card__full-link"})
    for i in job_links:
        links.append(i["href"])
        
    names = soup.findAll("a",{"class":"hidden-nested-link"})
    for i in names:
        company_name.append(i.text.replace("\n"," ").strip(" "))

In [20]:
print(len(locations))
print(len(titles))
print(len(countries))
print(len(links))
print(len(company_name))

48
48
48
48
48

In [21]:
df1 = pd.DataFrame(titles,columns=["Title"])
df1["Location"] = locations
df1["Country"] = countries
df1["Links"] = links
df1["Company_Name"] = company_name

df1

,Title,Location,Country,Links,Company_Name
0,Data Analyst,"Orlando, FL",FL,https://www.linkedin.com/jobs/view/data-analys...,Holovis
1,Data Analyst,"Springfield, VA",VA,https://www.linkedin.com/jobs/view/data-analys...,Lockheed Martin
2,Data Analyst,"Boca Raton, FL",FL,https://www.linkedin.com/jobs/view/data-analys...,BlueTeam
3,Data Visualization Analyst,"Washington, DC",DC,https://www.linkedin.com/jobs/view/data-visual...,Corner Alliance
4,Data Analyst,United States,United States,https://www.linkedin.com/jobs/view/data-analys...,Blend
5,Data Analyst,United States,United States,https://www.linkedin.com/jobs/view/data-analys...,TechSoup
6,Data Analyst (Remote),United States,United States,https://www.linkedin.com/jobs/view/data-analys...,"Westport Properties, Inc."
7,Data Analyst,"Walnut Creek, CA",CA,https://www.linkedin.com/jobs/view/data-analys...,Maximum Games
8,Data Analyst III,"Cupertino, CA",CA,https://www.linkedin.com/jobs/view/data-analys...,WinMax
9,Data Analyst,Raleigh-Durham-Chapel Hill Area,Raleigh-Durham-Chapel Hill Area,https://www.linkedin.com/jobs/view/data-analys...,"Eva Garland Consulting, LLC"
10,Data Analyst - Level 2,"Fort Worth, TX",TX,https://www.linkedin.com/jobs/view/data-analys...,Lockheed Martin
11,Data Analyst I,"Cupertino, CA",CA,https://www.linkedin.com/jobs/view/data-analys...,WinMax
12,Data Analyst,"Chantilly, VA",VA,https://www.linkedin.com/jobs/view/data-analys...,Asta Crs Inc
13,Data Analyst,"Redmond, WA",WA,https://www.linkedin.com/jobs/view/data-analys...,Futran Solutions
14,"Data Analyst, Sales & Marketing - 100% Remote ...",United States,United States,https://www.linkedin.com/jobs/view/data-analys...,Varis
15,Junior Data Analyst,"Bloomington, MN",MN,https://www.linkedin.com/jobs/view/junior-data...,SAS
16,Data Analyst (Advanced MS Excel Skills),"Somerset, NJ",NJ,https://www.linkedin.com/jobs/view/data-analys...,Steneral Consulting
17,Data Analyst 1,"Peachtree Corners, GA",GA,https://www.linkedin.com/jobs/view/data-analys...,eStaffing Inc.
18,Financial Data Analyst,Greater Minneapolis-St. Paul Area,Greater Minneapolis-St. Paul Area,https://www.linkedin.com/jobs/view/financial-d...,AMBRION
19,Data Analyst,"San Jose, CA",CA,https://www.linkedin.com/jobs/view/data-analys...,Adroit Software Inc.
20,Data Analyst Associate - Level 1,"Fort Worth, TX",TX,https://www.linkedin.com/jobs/view/data-analys...,Lockheed Martin
21,Data Analyst,"Bridgeview, IL",IL,https://www.linkedin.com/jobs/view/data-analys...,Chicago Fire FC
22,Data Analyst,"Boston, MA",MA,https://www.linkedin.com/jobs/view/data-analys...,Resource Innovations
23,Data Analyst 1,"Peachtree Corners, GA",GA,https://www.linkedin.com/jobs/view/data-analys...,Cube Hub Inc.
24,Data Analyst,"Orlando, FL",FL,https://www.linkedin.com/jobs/view/data-analys...,Holovis
25,Data Analyst,"Springfield, VA",VA,https://www.linkedin.com/jobs/view/data-analys...,Lockheed Martin
26,Data Analyst,"Boca Raton, FL",FL,https://www.linkedin.com/jobs/view/data-analys...,BlueTeam
27,Data Visualization Analyst,"Washington, DC",DC,https://www.linkedin.com/jobs/view/data-visual...,Corner Alliance
28,Data Analyst,United States,United States,https://www.linkedin.com/jobs/view/data-analys...,Blend
29,Data Analyst,United States,United States,https://www.linkedin.com/jobs/view/data-analys...,TechSoup
30,Data Analyst (Remote),United States,United States,https://www.linkedin.com/jobs/view/data-analys...,"Westport Properties, Inc."
31,Data Analyst,"Walnut Creek, CA",CA,https://www.linkedin.com/jobs/view/data-analys...,Maximum Games
32,Data Analyst III,"Cupertino, CA",CA,https://www.linkedin.com/jobs/view/data-analys...,WinMax
33,Data Analyst,Raleigh-Durham-Chapel Hill Area,Raleigh-Durham-Chapel Hill Area,https://www.linkedin.com/jobs/view/data-analys...,"Eva Garland Consulting, LLC"
34,Data Analyst - Level 2,"Fort Worth, TX",TX,https://www.linkedin.com/jobs/view/data-analys...,Lockheed Martin
35,Data Analyst I,"Cupertino, CA",CA,https://www.linkedin.com/jobs/view/data-analys...,WinMax
36,Data Analyst,"Chantilly, VA",VA,https://www.linkedin.com/jobs/view/data-analys...,Asta Crs Inc
37,Data Analyst,"Redmond, WA",WA,https://www.linkedin.com/jobs/view/data-analys...,Futran Solutions
38,"Data Analyst, Sales & Marketing - 100% Remote ...",United States,United States,https://www.linkedin.com/jobs/view/data-analys...,Varis
39,Junior Data Analyst,"Bloomington, MN",MN,https://www.linkedin.com/jobs/view/junior-data...,SAS
40,Data Analyst (Advanced MS Excel Skills),"Somerset, NJ",NJ,https://www.linkedin.com/jobs/view/data-analys...,Steneral Consulting
41,Data Analyst 1,"Peachtree Corners, GA",GA,https://www.linkedin.com/jobs/view/data-analys...,eStaffing Inc.
42,Financial Data Analyst,Greater Minneapolis-St. Paul Area,Greater Minneapolis-St. Paul Area,https://www.linkedin.com/jobs/view/financial-d...,AMBRION
43,Data Analyst,"San Jose, CA",CA,https://www.linkedin.com/jobs/view/data-analys...,Adroit Software Inc.
44,Data Analyst Associate - Level 1,"Fort Worth, TX",TX,https://www.linkedin.com/jobs/view/data-analys...,Lockheed Martin
45,Data Analyst,"Bridgeview, IL",IL,https://www.linkedin.com/jobs/view/data-analys...,Chicago Fire FC
46,Data Analyst,"Boston, MA",MA,https://www.linkedin.com/jobs/view/data-analys...,Resource Innovations
47,Data Analyst 1,"Peachtree Corners, GA",GA,https://www.linkedin.com/jobs/view/data-analys...,Cube Hub Inc.

## MACHINE LEARNING JOBS

In [22]:
url_testing = "https://www.linkedin.com/jobs/search/?currentJobId=3578098937&geoId=102713980&keywords=machine%20learning&location=India&refresh=true"

In [23]:
locations = []
titles = []
countries = []    
links = []
company_name = []


for i in range(0,26,25):
    url = url_testing+"&start="+str(i)
    request = requests.get(url)
    data = request.text
    soup = BeautifulSoup(data)
    
    location = soup.findAll("span", {"class":"job-search-card__location"})
    for i in location:
        locations.append(i.text.replace("\n"," ").strip(" "))
        
    title = soup.findAll("h3",{"class":"base-search-card__title"})
    for i in title:
        titles.append(i.text.replace("\n"," ").strip(" "))
        
    country = soup.findAll("span", {"class":"job-search-card__location"})
    for i in country:
        countries.append(i.text.replace("\n"," ").strip(" ").split(',')[-1])
    job_links = soup.findAll("a",{"class":"base-card__full-link"})
    for i in job_links:
        links.append(i["href"])
    names = soup.findAll("a",{"class":"hidden-nested-link"})
    for i in names:
        company_name.append(i.text.replace("\n"," ").strip(" "))
print(len(locations))

50

In [24]:
print(len(locations))
print(len(titles))
print(len(countries))
print(len(links))
print(len(company_name))

50
50
50
50
50

In [25]:
df3 = pd.DataFrame(titles,columns=["title"])
df3["location"] = locations
df3["country"] = countries 
df3["link"] = links
df3["company_name"] = company_name
df3

,title,location,country,link,company_name
0,Python Developer,"Nagercoil, Tamil Nadu, India",India,https://in.linkedin.com/jobs/view/python-devel...,CKS SOLUTIONS
1,ML/AI Engineer,"Hyderabad, Telangana, India",India,https://in.linkedin.com/jobs/view/ml-ai-engine...,Fusion Plus Solutions Inc
2,Data Scientist,"Bangalore Urban, Karnataka, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Acme Services
3,Artificial Intelligence,"Bengaluru North, Karnataka, India",India,https://in.linkedin.com/jobs/view/artificial-i...,RandomTrees
4,JPC - 901 Data Scientist,Greater Kolkata Area,Greater Kolkata Area,https://in.linkedin.com/jobs/view/jpc-901-data...,NuStar Technologies
5,MIS Executive (Payment Confirmation),"Ahmedabad, Gujarat, India",India,https://in.linkedin.com/jobs/view/mis-executiv...,Petpooja
6,Data Scientist,"Mumbai, Maharashtra, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Eduauraa
7,Senior Data Scientist,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/senior-data-...,Epsilon India
8,Training Executive - Supplier Hub,"Ahmedabad, Gujarat, India",India,https://in.linkedin.com/jobs/view/training-exe...,Petpooja
9,Data Scientist - FinTech,"Gurugram, Haryana, India",India,https://in.linkedin.com/jobs/view/data-scienti...,HCapital Technologies Private Limited
10,AI ML Consultant,"Bangalore Urban, Karnataka, India",India,https://in.linkedin.com/jobs/view/ai-ml-consul...,NuStar Technologies
11,Customer Associate,"Ahmedabad, Gujarat, India",India,https://in.linkedin.com/jobs/view/customer-ass...,Petpooja
12,AI ML,"Sahibzada Ajit Singh Nagar, Punjab, India",India,https://in.linkedin.com/jobs/view/ai-ml-at-ope...,Open Hand Solutions
13,Data Scientist,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Piramal Capital & Housing Finance Limited
14,Machine Learning Development Internship in Hyd...,"Hyderabad, Telangana, India",India,https://in.linkedin.com/jobs/view/machine-lear...,TechieYan Technologies
15,Data Scientist (INDIA),"Gurugram, Haryana, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Trexquant Investment LP
16,Python Developer Fresher: 22-23 Batch,India,India,https://in.linkedin.com/jobs/view/python-devel...,SAZ India
17,Deep Learning Engineer Intern,"Surat, Gujarat, India",India,https://in.linkedin.com/jobs/view/deep-learnin...,videosdk.live
18,NLP Engineer,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/nlp-engineer...,Chubb
19,Deep Learning and AI (On Site) - Fulltime,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/deep-learnin...,OpeninApp
20,AI/ML Engineer - Intern,Greater Delhi Area,Greater Delhi Area,https://in.linkedin.com/jobs/view/ai-ml-engine...,ConveGenius
21,Python + Machine Learning_Bharti,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/python-%2B-m...,CodersBrain
22,Data Scientist-Machine Learning,"Bengaluru North, Karnataka, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Ampstek
23,Operation Executive - Inventory,"Ahmedabad, Gujarat, India",India,https://in.linkedin.com/jobs/view/operation-ex...,Petpooja
24,Python Developer(AI/ML),"Ahmedabad, Gujarat, India",India,https://in.linkedin.com/jobs/view/python-devel...,HOPS HEALTHCARE
25,Python Developer(AI/ML),"Ahmedabad, Gujarat, India",India,https://in.linkedin.com/jobs/view/python-devel...,HOPS HEALTHCARE
26,ML/AI,"Hyderabad, Telangana, India",India,https://in.linkedin.com/jobs/view/ml-ai-at-fus...,Fusion Plus Solutions Inc
27,AI/ML Data Scientist,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/ai-ml-data-s...,Experfy
28,LAB CAR,"Pune, Maharashtra, India",India,https://in.linkedin.com/jobs/view/lab-car-at-t...,Tata Technologies
29,Data Scientist,"Mumbai, Maharashtra, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Eduauraa
30,Catalogue Executive,"Ahmedabad, Gujarat, India",India,https://in.linkedin.com/jobs/view/catalogue-ex...,Petpooja
31,Python/ML/AI,"Thiruvananthapuram, Kerala, India",India,https://in.linkedin.com/jobs/view/python-ml-ai...,NuStar Technologies
32,AI ML,"Sahibzada Ajit Singh Nagar, Punjab, India",India,https://in.linkedin.com/jobs/view/ai-ml-at-ope...,Open Hand Solutions
33,Data Scientist,"Bangalore Urban, Karnataka, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Acme Services
34,[Internship] Machine Learning,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/internship-m...,Enterpret
35,"Python, Mysql, Excel- Data Analyst Fresher",India,India,https://in.linkedin.com/jobs/view/python-mysql...,SAZ India
36,Data Scientist,"Bangalore Urban, Karnataka, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Acme Services
37,Machine Learning Engineer,"Mumbai, Maharashtra, India",India,https://in.linkedin.com/jobs/view/machine-lear...,Eduauraa
38,Operation Executive - Inventory,"Ahmedabad, Gujarat, India",India,https://in.linkedin.com/jobs/view/operation-ex...,Petpooja
39,ML Engineer [Coimbatore],Greater Coimbatore Area,Greater Coimbatore Area,https://in.linkedin.com/jobs/view/ml-engineer-...,Sivi AI
40,Deep Learning and AI (On Site) - Fulltime,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/deep-learnin...,OpeninApp
41,Data Science,"Mumbai, Maharashtra, India",India,https://in.linkedin.com/jobs/view/data-science...,Acme Services
42,Data Scientists,"Hyderabad, Telangana, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Covalense Global
43,Data Scientist (INDIA),"Gurugram, Haryana, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Trexquant Investment LP
44,Data Scientist,"Mumbai, Maharashtra, India",India,https://in.linkedin.com/jobs/view/data-scienti...,Acme Services
45,Python Developer,"Sri Potti Sri Ramulu Nellore, Andhra Pradesh, ...",India,https://in.linkedin.com/jobs/view/python-devel...,Terralogic
46,AI/ML Engineer - Intern,"Bengaluru, Karnataka, India",India,https://in.linkedin.com/jobs/view/ai-ml-engine...,OpeninApp
47,Python Developer,"Chennai, Tamil Nadu, India",India,https://in.linkedin.com/jobs/view/python-devel...,Ideas2IT Technologies
48,Machine Learning,"Mumbai, Maharashtra, India",India,https://in.linkedin.com/jobs/view/machine-lear...,U GRO Capital
49,Artificial Intelligence (AI) work from home jo...,India,India,https://in.linkedin.com/jobs/view/artificial-i...,Virtual Team